{% include base_path %}
{% assign banner_ver = '9' %}
<div class="ac-ribbon-wrap ac-ribbon-wrap--footer">
  <img
    class="ac-ribbon ac-ribbon--footer theme-ribbon"
    src="{{ base_path }}/images/ac/banner_light.png?v={{ banner_ver }}"
    data-light-src="{{ base_path }}/images/ac/banner_light.png?v={{ banner_ver }}"
    data-dark-src="{{ base_path }}/images/ac/banner_dark.png?v={{ banner_ver }}"
    alt=""
    width="2400"
    height="327"
    loading="eager"
    decoding="async"
  />
</div>
