{% include base_path %}
{% assign banner_ver = '4' %}
<div class="ac-banner-wrap ac-banner-wrap--footer">
  <img
    class="ac-banner ac-banner--footer theme-banner"
    src="{{ base_path }}/images/ac/banner_light.png?v={{ banner_ver }}"
    data-light-src="{{ base_path }}/images/ac/banner_light.png?v={{ banner_ver }}"
    data-dark-src="{{ base_path }}/images/ac/banner_dark.png?v={{ banner_ver }}"
    alt=""
    width="2400"
    height="327"
    loading="eager"
    decoding="async"
  />
</div>
