{% include base_path %}
{% assign banner_ver = '6' %}
<div class="ac-banner-wrap ac-banner-wrap--header">
  <div class="ac-banner-frame ac-banner-frame--header" aria-hidden="true">
    <img
      class="ac-banner theme-banner"
      src="{{ base_path }}/images/ac/header_banner_light.png?v={{ banner_ver }}"
      data-light-src="{{ base_path }}/images/ac/header_banner_light.png?v={{ banner_ver }}"
      data-dark-src="{{ base_path }}/images/ac/header_banner_dark.png?v={{ banner_ver }}"
      alt=""
      loading="eager"
      decoding="async"
    />
  </div>
</div>
