{% include base_path %}
{% assign banner_ver = '9' %}
<div class="ac-ribbon-wrap ac-ribbon-wrap--header">
  <img
    class="ac-ribbon theme-ribbon"
    src="{{ base_path }}/images/ac/header_banner_light.png?v={{ banner_ver }}"
    data-light-src="{{ base_path }}/images/ac/header_banner_light.png?v={{ banner_ver }}"
    data-dark-src="{{ base_path }}/images/ac/header_banner_dark.png?v={{ banner_ver }}"
    alt=""
    width="2400"
    height="122"
    loading="eager"
    decoding="async"
  />
</div>
